<form action="/convert", method="POST">
  <label>String:</label>              <br>
  <input type='text' name='string' /> <br>
  <label>Shift factor:</label>        <br>
  <input type='text' name='shift' />  <br><br>
  <input id='submit' type='submit' value='Convert!' />
</form>
