<!DOCTYPE html>
<html>
  <head>
    <title>Caesar Cipher</title>
  </head>
  <body>
    <header>
      <h2>Caesar Cipher</h2>
    </header>
    <form>
      <lable>String:</label>
      <input type='text' name='string' />
      <br>
      <lable>Shift factor:</label>
      <input type='text' name='shift' />
      <input type='submit' value='Convert!' />
    </form>
  </body>
</html>
