<!DOCTYPE html>
<html>
  <head>
    <title>Caesar Cipher</title>
    <link rel="stylesheet" href="styles.css"/>
  </head>
  <body>
    <header>Caesar Cipher</header>
    <div>
      <%= yield %>
    </div>
    <br>
  </body>
</html>
