html {
  font-size: 13px;
  background-color: #fff6eb;
  font-family: Courier, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.5em;
}

header {
  background-color: #ea6e5f;
  padding: 20px 0;
  box-shadow: 0 0 5px #ea6e5f;
  font-size: 1.5em;
  font-weight: bold
}

div {
  margin: 15px auto;
  width: 800px;
  max-width: 50%
}

input {
  width: 100%;
  height: 50px;
  font-size: 1em;
  margin-bottom: 15px;
  padding: 0;
}

p{
  word-wrap: break-word;
  text-align: left;
}

#submit{
  border-radius: 8px;
  border: 2px solid #ea6e5f;
  background-color: #ea6e5f;
  box-shadow: 0 0 5px #ea6e5f;
}
